# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
README.txt
LICENSE.txt
changelog.txt


# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
